# Django
SECRET_KEY=django-insecure-gstngrrc!+pb@&w3hvs2xs25qs!-y$a*pknmnry33#k^rh(m!u
DEBUG=True
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=fruit_db
POSTGRES_USER=fruit_user
POSTGRES_PASSWORD=fruit_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Redis & Celery
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

#Gemini
GEMINI_API_KEY=твой_секретный_ключ_gemini_здесь
