<table>
    <thead>
        <tr><th colspan="4" style="background: #fff; font-weight: bold; border-bottom: 1px solid #ccc;">Товары на складе</th></tr>
        <tr>
            <th>Название</th>
            <th>Текущее количество</th>
            <th>Действия</th>
            <th>Последняя операция</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ананасы</td>
            <td>15</td>
            <td>
                <input type="text" placeholder="К-ВО" class="action-input">
                <button class="btn btn-buy">Купить</button>
                <button class="btn btn-sell">Продать</button>
            </td>
            <td style="font-size: 13px; font-weight: bold;">16.11.2022 10:30 - куплено 5<br>ананасов за 20 usd</td>
        </tr>
        <tr>
            <td>Яблоки</td>
            <td>224</td>
            <td>
                <input type="text" placeholder="К-ВО" class="action-input">
                <button class="btn btn-buy">Купить</button>
                <button class="btn btn-sell">Продать</button>
            </td>
            <td style="font-size: 13px; font-weight: bold;">16.11.2022 10:30 - куплено 5<br>яблок за 20 usd</td>
        </tr>
        <tr>
            <td>Бананы</td>
            <td>66</td>
            <td>
                <input type="text" placeholder="К-ВО" class="action-input">
                <button class="btn btn-buy">Купить</button>
                <button class="btn btn-sell">Продать</button>
            </td>
            <td style="font-size: 13px; font-weight: bold;">16.11.2022 10:30 - продано 5<br>бананов за 20 usd</td>
        </tr>
        <tr>
            <td>Апельсины</td>
            <td>235</td>
            <td>
                <input type="text" placeholder="К-ВО" class="action-input">
                <button class="btn btn-buy">Купить</button>
                <button class="btn btn-sell">Продать</button>
            </td>
            <td style="font-size: 13px; font-weight: bold;">16.11.2022 10:30 - куплено 5<br>апельсинов за 20 usd</td>
        </tr>
        <tr>
            <td>Абрикосы</td>
            <td>12</td>
            <td>
                <input type="text" placeholder="К-ВО" class="action-input">
                <button class="btn btn-buy">Купить</button>
                <button class="btn btn-sell">Продать</button>
            </td>
            <td style="font-size: 13px; font-weight: bold;">16.11.2022 10:30 - продано 5<br>абрикос за 20 usd</td>
        </tr>
        <tr>
            <td>Киви</td>
            <td>0</td>
            <td>
                <input type="text" placeholder="К-ВО" class="action-input">
                <button class="btn btn-buy">Купить</button>
                <button class="btn btn-sell">Продать</button>
            </td>
            <td style="font-size: 13px; font-weight: bold;">16.11.2022 10:30 - куплено 5<br>киви за 20 usd</td>
        </tr>
    </tbody>
</table>
