<table>
    <thead>
        <tr><th colspan="4" style="background: #fff; font-weight: bold; border-bottom: 1px solid #ccc;">Товары на складе</th></tr>
        <tr>
            <th>Название</th>
            <th>Текущее количество</th>
            <th>Действия</th>
            <th>Последняя операция</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.stock_quantity }}</td>
            <td style="width: 250px;">
                <form hx-post="/api/trade/" hx-swap="none" style="display: flex; align-items: center; justify-content: center; margin: 0;">
                    {% csrf_token %}
                    <input type="hidden" name="product_name" value="{{ product.name }}">

                    <input type="number" name="quantity" placeholder="К-ВО" class="action-input" min="1" required style="width: 70px;">

                    <button type="submit" name="action" value="buy" class="btn btn-buy">Купить</button>
                    <button type="submit" name="action" value="sell" class="btn btn-sell">Продать</button>
                </form>
            </td>
            <td style="font-size: 13px; font-weight: bold;">{{ product.last_operation_info|default:"-" }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">Склад пуст. Выполните make init-data</td></tr>
        {% endfor %}
    </tbody>
</table>
